@charset "utf-8";

/*mainBanner*/
.mainBanner{
    background: url(../images/school-1974369_1920.jpg) no-repeat center 40%;
    background-size: cover;
    height: 700px;
}
.mainBanner p{
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}
.mainText{
	line-height: 70px;
	padding: 245px;
}
.mainText01{
    font-size: 55px;
    font-weight: 400;
}
.mainText02{
    font-size: 55px;
    font-weight: 400;
}
.mainText03{
    font-size: 20px;
    font-weight: 300;
}

/*con01*/
.con01{
	background-size: cover;
	text-align: center;
	padding-bottom: 40px;
}
.con01 .conTit{
	padding-bottom: 0;
	position: relative;
}
.con01 .plusBtn{
    font-size: 12px;
    font-weight: 300;
    position: absolute;
	bottom: 0;
    right: 0;
}
.icon{
	padding-top: 60px;
	position: relative;
}
.icon li{
	font-size: 17px;
	font-weight: 400;
	vertical-align: middle;
	width: 145px;
	height: 116px;
	display: inline-block;
	margin: 0 10px;
	padding: 10px 0;
}
.icon span{
	display: block;
	width: 65px;
	height: 60px;
	background-size: cover;
	margin: 0 auto; /*블럭됐으므로 가로값 제외하면 다 마진.그래서 중간정렬은 이걸로!*/
}
.icon p{
	margin-top: 30px;
}
.icon01{
	background: url(../images/ico_parent.png) no-repeat;
}
.icon02{
	background: url(../images/ico_computer.png) no-repeat;
}
.icon03{
	background: url(../images/ico_school.png) no-repeat;
}
.icon04{
	background: url(../images/ico_edu.png) no-repeat;
}
.icon05{
	background: url(../images/ico_book.png) no-repeat;
}
.icon li:hover{
	font-weight: 700;
}
.icon li:hover a{
	color: #381FED; 
}
.icon li:hover .icon01{
	background: url(../images/ico_parentOn.png) no-repeat;
}
.icon li:hover .icon02{
	background: url(../images/ico_computerOn.png) no-repeat;
}
.icon li:hover .icon03{
	background: url(../images/ico_schoolOn.png) no-repeat;
}
.icon li:hover .icon04{
	background: url(../images/ico_eduOn.png) no-repeat;
}
.icon li:hover .icon05{
	background: url(../images/ico_bookOn.png) no-repeat;
}

/*con02*/
.con02{
	background: #eee;
	background-size: cover;
}
.conTit{
	position: relative;
}
.conTit h2{
	font-size: 33px;
	font-weight: 700;
	text-align: center;
	padding-top: 40px;
}

.album{
	text-align: center;
	display: inline-block;
	padding: 40px 0;
}
.album li{
	float: left;
}
.album span{
	width: 370px;
	height: 250px;
	display: block;
	background-size: cover;
}
.photo01{
	background: url(../images/children-1822704_640.jpg) no-repeat;
}
.photo02{
	background: url(../images/children-1822590_640.jpg) no-repeat;
	margin: 0 45px;
}
.photo03{
	background: url(../images/elephant-1822481_640.jpg) no-repeat;
}

.albumText{
	width: 370px;
	font-size: 14px;
	font-weight: 300;
	margin-top: 10px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.con02 .albumText02{
	width: 370px;
	margin: 10px auto;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 300;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.con02 .plusBtn{
    font-size: 12px;
    font-weight: 300;
    position: absolute;
	bottom: 0;
    right: 0;
}

/*con03*/
.con03{
	margin: 95px auto;
}
.con03 .nTit{
	position: relative;
}
.con03 .tLunch:after{
	content: "";
	display: none;
	width: 120px;
	height: 15px;
	background : #FFFF80;
	position: absolute;
	top: 37px;
	left: 0;	
}
.con03 .tLunch:hover:after{
	display: block;
}
.con03 .mEvent:after{
	content: "";
	display: none;
	width: 120px;
	height: 15px;
	background : #FFFF80;
	position: absolute;
	top: 37px;
	left: 195px;	
}
.con03 .mEvent:hover:after{
	display: block;
}
.c03Menu dd{
	line-height: 65px;
}
.c03Menu dd p{
	display: inline-block;
	vertical-align: middle;
	font-size: 18px;
	font-weight: 300;
}

.c03Menu .lunchTit{
	width: 100px;
	font-size: 25px;
	font-weight: 400;
}
.lunchMenu{
	width: 750px; 
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.con03 .nTit{
	position: relative;
}
.con03 .plusBtn{
    font-size: 12px;
    font-weight: 300;
    position: absolute;
	bottom: 0;
    right: 0;
}

/*con04*/
.con04{
	background: #eee;
	padding: 35px 0;
	text-align: center;
}
.con04 .nTit{
	position: relative;
}
.con04 .note:after{
	content: "";
	display: none;
	width: 90px;
	height: 15px;
	background : #FFFF80;
	position: absolute;
	top: 37px;
	left: 0;	
}
.con04 .note:hover:after{
	display: block;
}
.con04 .alert:after{
	content: "";
	display: none;
	width: 120px;
	height: 15px;
	background : #FFFF80;
	position: absolute;
	top: 37px;
	left: 166px;	
}
.con04 .alert:hover:after{
	display: block;
}
.notice{
    font-size: 18px;
    font-weight: 300;
	display: inline-block;
}
.notice dd{
	line-height: 60px;
}
.notice dd p{
    display: inline-block;
	vertical-align: middle;
}

.nTit{
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 50px;
    position: relative;
	text-align: left;
}
.nTit a{
    color: #aaa;
}
.nTit p{
    display: inline-block;
    margin-right: 70px;
}

.nInfo{
	text-align: left;
    width: 550px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-right: 554px;
}

.nTit .plusBtn{
    font-size: 12px;
    font-weight: 300;
    position: absolute;
    bottom: 0;
    right: 0;
	color: #333;
}
.plusBtn span{
	vertical-align: middle;
}
.plusBtn img{
    margin-left: 10px;
    vertical-align: middle;
}

