@charset "utf-8";

/***반응형 웹뷰***/
.mViewBtn{
	display: none;
}
@media screen and (max-width:768px){
	body{
		min-width: 100%;
	}
	.inner{
		width: 100%;
    }
	.mViewBtn{
		display: block;
	}
	.section{
		position: relative;
	}
	.section .portL, .aboutL{
		float: none;
		margin: 0 auto;
	}
	.intro .inner, .aboutL, .portL{
	   text-align: center;
	}
    .introTxt{
        position: static;
    }
    .intro .txtBox{
        padding: 240px 0;
    }
    .txtBox{
        width: 100%;
        margin: 50px auto;
    }
    .section .portTxt{
        margin-left: 0;
        text-align: center;
    }
	.portR{
		display: none;
	}
	.aboutR{
		display: none;
	}
    .contact .txtBox{
        padding: 60px 0;
        margin: 0;
    }
	.contact .portTxt{
		margin: 0 auto;
		text-align: center;
	}
	.contact .portTxt h2, .contact .portTxt h3{
		margin: 0 auto;
	}
	.contact .portTxt h3{
		display: block;
		width: 387px;
	}
	.contact .cInfo{
		padding-top: 15px;
		line-height: 25px;
        margin: 0;
	}
	.contact .cInfo li{
		margin: 0;
	}
	.contact .cInfo span{
		font-size: 15px;
		padding: 0;
	}
	.contact .cInfo img{
		width: 18px;
	}
	.contact .cTxtBox{
		text-align: center;
        margin: 0 auto;
	}

	