@charset "utf-8";

/***모바일고정값***/
body,h1,h2,h3,p,dl,dd{
	margin: 0;
	padding: 0;
}
body{
	font-family: "NotoSans", sans-serif;
	color: #333;
}
ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
a{
	text-decoration: none;
	color: #333;
}
.cf:after{
	content: "";
	display: block;
	clear: both;
}
#wrap{
	width: 100%;
}
#container{
	width: 100%;
}